md-checkbox {
  margin-bottom: 0;

  &:not(.md-checked) .md-icon {
    border-color: rgba(255,255,255,0.54);
  }
}

*.unselectable, *.unselectable > * {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container.flipped .flipper {
		transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
  cursor: pointer;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(180deg);

  img {
    height: 100%;
  }
}

/* back, initially hidden pane */
.back {
	transform: rotateY(0deg);
    background-color: #35ff82;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 8em;
    text-shadow: 0 1px rgba(0, 0, 0, .4);
    color: #fff;
  }
}
