<md-content flex layout="column">
  <div flex layout="row" layout-align="center center">
    <md-card flex="25">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Profile</span>
        </md-card-title-text>
        <md-card-title-media>
          <img ng-attr-src="{{vm.user.picture}}" class="md-card-image" alt="Profile picture" />
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        <label>Display Name</label>
        {{vm.user.displayName}}
      </md-card-content>
    </md-card>
  </div>
  <div flex layout="row" layout-align="center center">
    <md-button flex="10" class="md-raised md-primary" ng-click="vm.getImages()">Get Images</md-button>
  </div>
  <div flex layout="row" layout-align="center center">
    <div flex="50">
      <md-grid-list md-cols="5" md-gutter="1em" md-row-height="1:1">
        <md-grid-tile md-colspan="1" ng-repeat="image in vm.images">
          <img ng-attr-src="{{image}}" style="height: 100%;" />
          <md-grid-tile-footer layout="row" layout-align="end center" ng-if="vm.imagesRefreshed">
            <label>Save?&nbsp;&nbsp;<md-checkbox checklist-model="vm.user.images" checklist-value="image" checklist-change="vm.updateImages()" aria-label="Save Image?"></md-checkbox></label>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</md-content>
